.slideshow-container{
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.my-slides-fade{
    display: flex;
    width: 700px;
    height: 700px;
}

#prev{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    background-color: darkgray;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

#next{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    background-color: darkgray;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}